@import "main.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Montserrat, sans-serif;
}

main .container{
    padding-top: 80px;
    text-align: center;
}

main .container h1{
    font-size: 34px;
    font-weight: 700;
    line-height: 140%;
}

.inner-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
}

.inner-container li{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.inner-container li p{
    font-size: 25px;
    font-weight: 400;
    line-height: 130%;
}

.inner-container li img{
    width: 264px;
    height: 272px;
}

